.hl-1{
	font-family: $title-font;
	@include text(3.6rem, 3.6rem, #5c6c59);

		@media #{$information-phone} {
      		font-size: 2rem;
      		.icon-IcArrowsRight{
      			display: none;
      		}
    }
}

.hl-3{
	font-family: $title-font;
	@include text(2.2rem, 1.27, #5c6c59);
}

.SMK_2{
	font-family: $text-font;
	@include text(1.5rem, 1.47, #5A6166);
	text-transform: uppercase;

	@media #{$information-phone} {
  		margin-top: 4rem;
  		padding-left: 2rem;
		padding-right: 2rem;
	}
}
.hl_6{
	font-family: $text-font;
	@include text(1.5rem, 1.47, #fff);
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1.5rem;

}

.cta_left_text{
	font-family: $text-font;
	@include text(1.5rem, 1.47, #5A6166);

		@media #{$information-phone} {
      		font-size: 1.2rem;
      		margin-bottom: 1rem;
    }
}

.icon-IcArrowsRight {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.icon-IcChecked{
	color: #60800f;
	font-size: 20px;
	font-weight: bold;
}
.icon-IcArrowRight{
	font-size: 1.1rem;
}

.icon-Close {
	content: "\e906";
	color: #196793;
	font-size: 1.5rem;
	font-weight: bold;
}

.box__kredit--text{
	font-family: $text-font;
	@include text(1.5rem, 1.47, #fff);
	text-transform: uppercase;

	@media #{$information-phone} {
  		margin-top: 4rem;
  		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.icon-IcPlus:before {
	content: "\e904";
	color: #1b618c;
	margin-right: 2rem;
	font-size: rem(16);  
	float: left;
}
.icon-IcMinus:before {
	content: "\e90d";
	color: #60800f;
}

















