// media query breakpoints



$title-font: 'KFWCentroSans';
$text-font:  Arial, "Helvetica Neue", Helvetica, sans-serif;
$button-font:'Arial';
$cta_left_background: #ebf3f7;

$break-small: 320px;
$break-medium: 599px;
$break-large: 1200px;



$information-phone: "only screen and (max-width : 320px)";
$information-tablet: "only screen and (max-width : 980px)";
$information-desktop: "only screen and (max-width : 1200px)";